<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- This is how we include wxi files -->
  <?include $(sys.CURRENTDIR)Includes\OpenNIVariables.wxi ?>
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="GPL" Guid="*">
        <File Id="fil04BD68110BAAE6738D69A12AA064B5B9" KeyPath="yes" Source="$(var.OpenNIFilesDir)\GPL.txt" />
      </Component>
      <Component Id="LGPL" Guid="*">
        <File Id="fil8EFDF8514913AD728CF1798610E899A6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\LGPL.txt" />
      </Component>
      <Directory Id="dir62F52A486FD7E5CC0678D32FDE0B6B51" Name="Data">
        <Component Id="cmp14657BC5BBC8A9B152526BB875809D9D" Guid="33EF8427-C3AB-42ED-8D3B-701641EBD580" KeyPath="yes">
          <CreateFolder />
        </Component>
      </Directory>
      <Directory Id="dir6EFCBF7ED6CB01D780B79C4D86427BA8" Name="Bin$(var.PlatformSuffix)">
        <Component Id="niLicense" Guid="*">
          <File Id="filF374558A6F08B598A4FA106491D94FA6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\niLicense$(var.PlatformSuffix).exe" />
        </Component>
        <Component Id="nimCodecs" Guid="*">
          <File Id="filF374558A6F08B598A4FA106492D94FA6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\nimCodecs$(var.PlatformSuffix).dll" />
        </Component>
        <Component Id="nimMockNodes" Guid="*">
          <File Id="filF374558A6F08B598A4FA106493D94FA6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\nimMockNodes$(var.PlatformSuffix).dll" />
        </Component>
        <Component Id="nimRecorder" Guid="*">
          <File Id="filF374558A6F08B598A4FA106494D94FA6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\nimRecorder$(var.PlatformSuffix).dll" />
        </Component>
        <Component Id="niReg" Guid="*">
          <File Id="filF374558A6F08B598A4FA106495D94FA6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\niReg$(var.PlatformSuffix).exe" />
        </Component>
        <Component Id="OpenNI" Guid="*">
          <File Id="filF374558A6F08B598A4FA106496D94FA6" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\OpenNI$(var.PlatformSuffix).dll" />
        </Component>
        <Component Id="OpenNIjar" Guid="*">
          <File Id="filF374558A6F08B598A4FA106496D94JAR" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\org.OpenNI.jar" />
        </Component>
        <Component Id="OpenNIjnidll" Guid="*">
          <File Id="filF374558A6F08B598A4FA106496D94JNI" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\OpenNI.jni$(var.PlatformSuffix).dll" />
        </Component>        
      </Directory>
    </DirectoryRef>
    </Fragment>
  <Fragment>
    <ComponentGroup Id="OpenNIBinaryFiles">
      <ComponentRef Id="cmp14657BC5BBC8A9B152526BB875809D9D"/>
      <ComponentRef Id="GPL"/>
      <ComponentRef Id="LGPL"/>
      <ComponentRef Id="niLicense"/>
      <ComponentRef Id="nimCodecs"/>
      <ComponentRef Id="nimMockNodes"/>
      <ComponentRef Id="nimRecorder"/>
      <ComponentRef Id="niReg"/>
      <ComponentRef Id="OpenNI"/>
      <ComponentRef Id="OpenNIjar"/>
      <ComponentRef Id="OpenNIjnidll"/>      
    </ComponentGroup>
  </Fragment>
</Wix>